/* body */

.pointers {
  font-size: 50px;
}

/* ᵇᶦᵍ ᶜʰᵘⁿᵍᵘˢ */
@media (max-width: 2000px) {
  .img-grid img {
    max-height: 18rem;
    max-width: 12rem;
  }
}

/*  medium */
@media screen and (max-width: 1310px) {
  body {
    font-size: 40px;
  }

  /* pointers */
  .pointers {
    display: grid;
    grid-template-columns: repeat(3, auto) !important;
  }

  /* about */

  /* Ourdogs */

  .dog-list {
    grid-template-columns: repeat(2, auto) !important;
  }

  /* stories */
  .img-grid-container {
    grid-template-columns: repeat(1, auto) !important;
    margin: 5rem !important;
    max-width: 31rem !important;
  }

  .img-grid img {
    max-height: 18rem;
    max-width: 12rem;
  }
}
/* small */
@media screen and (max-width: 860px) {
  /* header */
  .main-buttons {
    padding: 16px !important;
    grid-template-columns: repeat(1, auto) !important;
    gap: 50px;
  }

  .main div {
    padding-bottom: 2rem;
    padding: 1rem !important;
  }
  .main-title {
    font-size: 50px !important;
  }

  /* pointers */
  .pointers {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  /* about */

  .about-section {
    grid-template-columns: repeat(1, auto) !important;
    width: 100vw;
  }

  /* media */
  .img-grid-container {
    max-width: 3rem !important;
  }
  .img-grid img {
    max-height: 8rem !important;
    max-width: 7rem !important;
  }
}

/* footer */

.footer-container {
  grid-template-columns: repeat(2, 1fr) !important;
}

.footer-grid {
  grid-template-columns: repeat(1, auto) !important;
}
/* mobile */
@media screen and (max-width: 699px) {
  * {
    font-size: 60px;
  }

  /* header */
  .main-title {
    font-size: 50px !important;
  }

  /* pointers */
  .pointers {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  /* about */

  /* our dog */
  .dog-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
